

body {
    padding-bottom: 20px;
}

body {
    background-image:url('http://luxfon.com/images/201203/luxfon.com_5020.jpg');
    background-color:yellow;
}

#content {
    border-radius: 5px;
    margin:20px;border: 2px solid #AEECAA;
    float:left;
    margin-left: auto;
    margin-right: auto;
    width: 99.5%;
    height: 500px;
    background-color: rgba(174, 236, 170, 0.3);
}

#footer {
    color: white;
    clear:both;
    height: 50px;
    padding: 10px;
}

#header p{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    font-style: italic;
    font-style: oblique;
    font-weight: bold;
    color: #AEECAA;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}