{% extends "layout.html" %}

{% load staticfiles %}

{% block content %}
<content id="content">
    <div>
        <a href="#" class="imageEditButton" id="negative-btn">Negative</a>
        <a href="#" class="imageEditButton" id="sepia-btn">Sepia</a>
        <a href="#" class="imageEditButton" id="gray-scale-btn">Gray scale</a>  
        <a href="#" class="imageEditButton" id="contrast-btn">Add contrast</a> 
    </div>
    <div id="image-div">
        <input type="file" id="image-upload" class="imageEditButton" style="display: none"><br>
        <button id="file" class="imageEditButton">Upload</button>
        <hr />
        <img id="uploaded-image" />
        <hr />
        <a href="#" class="imageEditButton" id="donwload-button">Download</a>  
    </div>
</content>
{% endblock %}

{% block scripts %}
    <script src="{% static 'libs/FileSaver.js' %}"></script>
    <script src="{% static 'scripts/imageUpload.js' %}"></script>
    <script src="{% static 'scripts/grayScale.js' %}"></script>
    <script src="{% static 'scripts/contrast.js' %}"></script>
    <script src="{% static 'scripts/sepia.js' %}"></script>
    <script src="{% static 'scripts/negative.js' %}"></script>
    <script src="{% static 'scripts/init.js' %}"></script>
{% endblock %}
