<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Django Application</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'content/buttons/buttons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'content/menu.css' %}" />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="{% static 'scripts/menu.js' %}"></script>
    <script src="{% static 'libs/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    
    <div class="container body-content">
        <header id="header">
            <p>JS ImageEditor</p>
        </header>

        <div id='cssmenu'>
            <ul>
               <li class='active'><a href='#'>Home</a></li>
               <li><a href='#'>Products</a></li>
               <li><a href='#'>Company</a></li>
               <li><a href='#'>Contact</a></li>
            </ul>
        </div>

{% block content %}{% endblock %}
        
        <footer id="footer">
            <hr/>
            <p>&copy; {{ year }} - My Django Application</p>
        </footer>
    </div>

    <script src="{% static 'libs/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'libs/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
